@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nosifer&display=swap');

*, *::after, *::before {
    box-sizing: border-box;
  }

html{
    font-family: 'Rubik', sans-serif ;
	
}

body{
    background-image: url(../images/fog.jpg);
    color: black;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}


/* Start of Navbar  */
.navigation {
    position: fixed;
    top: 0;
    width: 100%;
    background-color:rgb(255, 255, 255) !important;
    padding: 0.8rem;
    z-index: 999;   
}

  .playButton, .blogButton{
      background-color: rgba(46,91,125);
      letter-spacing: .05rem;
      color:white !important;
      border-radius: .2rem;
      padding: .2rem;
      text-decoration: none;
  }

  .playButton:hover{
     background-color: rgb(35,67,92);
  }

  .nav-item a{
      font-size: 1.1rem; 
      margin:  0.3rem; 
      font-weight: 600;
  }

  .nav-item a:hover{
      color:rgb(20, 50, 73)
  }
  .navList{
      margin: 0 0px 0 0;
  }

  

  /* End of Navbar */




/* Start of containers */

h1 {
	font-family: 'Nosifer', cursive;
	background: -webkit-linear-gradient( rgb(179, 192, 202), rgb(51, 86, 112),rgb(20, 50, 73));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: .13rem black;
    font-size: 6rem;
    text-align: center;
    margin: 7rem 0;
}

.videoPlay{
    margin-top:  5rem;
    border: .4rem solid black;
}


.container1, .container2, .container3{
	width: 80%;
	margin: auto;
	max-width: 850px !important; 
	padding-top: 6rem;
}


h4{
    font-weight: 700;
    font-size: 1.75rem;
}


.col-lg-7{
 background: rgba(255,255,255,.2);
 border-radius: .4rem;
 padding: 2rem;
}

.container2 p, .container1 p{
    font-size: 1.25rem;
}


h3{
	text-align: center;
	font-weight: 500;
	font-size: 4rem;
	padding: 6rem 0 2rem 0;
	font-family: 'Nosifer', cursive;
	color: black
   
}

.container3 h3{
    color:  rgb(143,145,146);
    margin-bottom: 6rem;
   
}

.container2 h3{
    margin-bottom: 6rem;
   
}

/* End of containers */





/* Start of meet the developers */

.deck {
    margin: 2rem 0;
}



.social-links img{
    padding: .125rem;
    max-width: 35px;
    
}

.card{
    background-color: #fff;
    border: .125rem solid black;
    padding: .625rem;
    text-align: center;
    box-shadow: 0px 3px 15px rgba(241, 241, 241, 0.7);
    position: relative;
    z-index: 1;
    background-color: rgba(46,91,125);
    color: #fff;
    width: 16rem;
    
}

.card-body{
    padding: .75rem 0;
}

.card h5{
    font-weight: 400;
    font-family: 'Nosifer', cursive;
    letter-spacing: .188rem;

}

a{
    text-decoration: none;
    padding: .3rem;
}

/* End of meet the developers  */





/* Start of footer  */
footer {
    letter-spacing: 0.081rem;
    background-color: #black;
    color: #fff;
    box-shadow: 0px 3px 15px rgba(46,91,125,.4);
    margin-top: 4rem;
    font-weight: 500;
    justify-content: center;
    text-align: center;
}

.copyright {
    display: inline-block;
    padding: 0rem, 2rem, 0rem, 2rem;
    margin: 0 auto;
    text-align: center;
    align-content: center;
}

/* End of Footer */






















