@import url('https://fonts.googleapis.com/css2?family=Nosifer&display=swap');

.title{
    width: 100%;
    margin: 0 auto;
    font-size: 4.5rem;
    font-family: 'Nosifer', cursive;
    background: -webkit-linear-gradient(white, rgb(151, 166, 179), rgb(51, 86, 112),rgb(20, 50, 73));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    display: flex;
    justify-content: center;
   
}

main{
    color: white
}

body{
    background-color: rgb(19,23,26);
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}


#collisionCanvas {
    opacity: 0
}


#canvas1, #canvas2{
    position: absolute;
    border: .4rem solid white;
    width: 85%;
    height: 75vh;
    transform: translate(-50%, -50%);
    top: 56%;
    left: 50%;
}

audio{
    position: relative;
    z-index: 999;

    
}


.exit, .replay{
    font-size: 1.5rem;
    color: white;
    text-decoration: none;
    font-family: "Impact";
    padding: 1rem .5rem 0 1rem;
  
}  

.exit::before, .exit:hover, .replay::before, .replay:hover{
    color: rgba(46,91,125)
}

.exit i, .replay i{
    padding-right: 1rem;
}




    

