@import url('https://fonts.googleapis.com/css2?family=Nosifer&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;700&display=swap');


.title{
    width: 100%;
    margin: 0 auto;
    font-size: 4.5rem;
    font-family: 'Nosifer', cursive;
    background: -webkit-linear-gradient(white, rgb(151, 166, 179), rgb(51, 86, 112),rgb(20, 50, 73));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    display: flex;
    justify-content: center;
   
}

main{
    overflow: hidden;
    color: white
}

body{
    background-color: rgb(19,23,26);
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}


#collisionCanvas {
    opacity: 0
}


#canvas1, #canvas2{
    position: absolute;
    border: .4rem solid white;
    width: 85%;
    height: 75vh;
    transform: translate(-50%, -50%);
    top: 56%;
    left: 50%;
}

audio{
    display: hidden;
}


.exit, .replay{
    font-size: 1.5rem;
    color: white;
    text-decoration: none;
    font-family: "Impact";
    padding: 1rem .5rem 0 1rem;
  
}  

.exit::before, .exit:hover, .replay::before, .replay:hover{
    color: rgba(46,91,125)
}

.exit i, .replay i{
    padding-right: 1rem;
}





/* Start of Start Game */

.section1, .section2{
    font-family: "Impact";
    font-weight: 200;
    letter-spacing: .1rem;
    padding: 3rem;
    width: 50%;
    
}

.dareHeader{
    text-align: center;
    font-size: 3rem;
    padding-bottom: 2rem;
}

ul{

    font-family: 'Noto Sans JP', sans-serif;
}

.miniHaunted{
    border-radius: .3rem;
    border: .3rem solid black;
}

.enterBtn{
    background-color: rgba(46,91,125) ;
    font-size: 2rem;
    font-weight: 600;
    font-family: "Impact";
    padding: .5rem;
    color: black;
    text-decoration: none;
    border-radius: .1rem;
    border: .2rem solid black;

}

.enterBtn:hover{
    background-color: orange;
    
    color: black
}

span{
    font-weight: bold;
    color:rgb(83, 142, 187)
}

.miniGhostImg{
    padding-left: 1rem;
}
/* End of Start Game */
    

